.topicos{

    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
    

}

.topicos_titulo{

    color: var(--branco);
    font-weight: 300;
    margin-bottom: 0.5em;
}

.topicos_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
  
}


.topicos_item{
    margin:2em 0.5em;
}


.topicos_link{

    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em;
    text-decoration: none;
    border-radius: 14px;
    font-weight: 700;
    font-size: 14px;


}

@media screen and (min-width: 1024px){

    .topicos_titulo{
        font-size: 24px;
    }

    .topicos_link{
        font-size:24px;
    }
    
}